<figure>
  <%= image_tag Gravatar.new(@friend.email).image_url(s: 300) %>
  <p><%= @friend.name %>, <strong><%= @friend.age %> años</strong></p>

  <button class="like btn btn-success">
    <%= link_to "Quiero contactarlo", friends_like_path(id: @friend, liked: true), method: :post %>
  </button>
  <button class="nolike btn btn-danger">
    <%= link_to "No quiero contactarlo", friends_like_path(id: @friend, liked: false), method: :post %>
  </button>
</figure>



